* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* =====================Header section===================== */
#headerBar {
    background: #fff;
    overflow: hidden;
    position: fixed;
    z-index: 999999;
    width: 100%;
    padding: 15px 8%;
}

.container {
    padding: 30px 8%;
}

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    padding: 5px 10px;
}

.brand img {
    width: 180px;
}

.social-icons ul {
    display: inline-flex;
}

.social-icons ul li {
    margin-left: 15px;
}

.social-icons ul li a {
    font-size: 24px;
    padding: 5px 10px;
}

.fa-facebook-f:hover {
    color: #1877F2;
}

.fa-twitter:hover {
    color: #1DA1F2;
}

.fa-skype:hover {
    color: #00aff0;
}

.fa-linkedin-in:hover {
    color: #1872cd;
}

#navlist {
    display: inline-flex;
}

#navlist li {
    margin-left: 20px;
}

#navlist li a {
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    padding: 5px 10px;
    text-transform: uppercase;
}

#navlist a:hover {
    color: #f56131;
}

/* =====================Header section =====================  */
#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/banner.png);
    width: 100%;
    height:860px;
    background-position: center;
    background-size: cover;
}


.banner-content {
    padding-top: 20%;
    padding-left: 50%;
    color: #fff;
}

.banner-content h1 {
    font-size: 88px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
}

.banner-content p {
    font-size: 16px;
    font-family: 'lato' sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.4;
}

.btn {
    padding: 12px 30px;
    background: #f56131;
    color: #fff;
    text-transform: uppercase;
}

/* =====================Banner section End=====================  */


/* =====================About us section=====================  */
#about-company{
    background-color: #2f2339;
    padding: 100px 8% 100 0;
}

.about-content{
    display: flex;
    align-items: center;
    padding-right: 10%;
}


.about-text p{
    margin-bottom: 10px;
}

.about-content img{
    width: 100%;
}

.basic-40{
    flex-basis: 60%;
    margin-right: 40px;
}
.basic-60{
    flex-basis: 40%;
}

.about-content h1 {
    font-size:45px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    color: #fff;
}

.about-content p {
    font-size: 16px;
    font-family: 'lato' sans-serif;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.4;
    color: #fff;
}

/* =====================About us section End=====================  */

/* =====================Feature section End=====================  */
#feature{
    background-color: #fff;
    padding: 100px 0;
    position: relative;
    height: 588px;
}

#feature::before{
    content: "";
    background: #f56131;
    width: 10px;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

.feature-row{
    display: flex;
    justify-content: space-between;
}

.feature-col-4{
    flex-basis: 23%;
    height: 200px;
}
.feature-title-flex{
    padding: 50px;
}
.feature-title-flex h3{
    font-size: 32px;
    padding-top: 20px;
    margin-bottom: 20px;
    color: #2f2339;
}

.feature-btn{
    padding: 10px 20px;
    background: #2f2339;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 30px;
}

.col-divided-2{
    display: flex;
    flex-direction: column;
}

.icon{
    background: #f56131;
    /* width: 100%; */
    text-align: center;
}

.icon h4{
    color: #fff;
    padding-bottom: 10px;
    font-size: 28px;
}
.icon img{
    display: block;
    margin: auto;
    padding: 20px;
}
.text{
    background: #fff;
    padding: 10px;
}

.text p{
    text-align: justify;
    font-size: 16px;
    line-height: 1.2;
    font-family: 'lato', sans-serif;
}
/* =====================Feature section=====================  */


/* =====================Ipad-app section=====================  */
.ipad-app{
    display: flex;
    color: #fff;
}

.row{
    display: flex;
}

.half-background{
    background: #2f2339;
    width: 80%;
    padding: 100px 100px 100px 8%;
    position: relative;
}

.tab-model img{
    position: relative;
    right: 48%;
    max-width: 285px;
    top: 130px;
    width: 100%;
}

 #articale .col-2{
    padding-bottom:20px ;
    /* margin-right: 20px; */
}

.ipad-app h3{
    font-size: 43px;
    margin-bottom: 20px;
    font-family: 'montserat', sans-serif;
    font-weight: 800;
}
.ipad-app h4{
    font-size: 25px;
    margin-bottom: 10px;
    font-family: 'lato' sans-serif;
    font-weight: 400;
}

.ipad-app p{
    font-family: 'lato' sans-serif;
    letter-spacing: 1px;
    line-height: 1.4;
    font-weight: 400;
    font-size: 16px;
}
/* =====================Ipad-app section ENd=====================  */


/* =====================Ribon section =====================  */
#ribon{
    background-color: #f56131;
    width: 100%;
    margin: 50px 0;
}

#ribon img{
    width: 100%;
    max-width: 150px;
}

.ribon-content{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ribon-content img{
    padding-left: 50px;
    position: absolute;
    left: 55%;
}

.ribon-content h2{
    color: #fff;
    font-family: 'montserat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 30px;
    padding: 40px 0;
}

/* =====================Ribon section End =====================  */



/* =====================Mobile-app section =====================  */

.reversed{
    flex-direction: row-reverse;
}

.reversed .tab-model img{
    max-width: 180px;
    width: 100%;
}

.reversed .tab-model img{
    position: relative;
    right: -48%;
    max-width: 193px;
    top: 81px;
    width: 100%;
}
/* =====================Mobile-app section ENd=====================  */


/* =====================Articale section=====================  */
.right-text{
    background: #f56131;
    padding: 10px;
    color: #fff;
}

.div{
    padding: 0 0 0 8%;
}

.align-center{
    align-content: center;
    padding-top: 160px;
    padding-left: 50px;
}

.right-text h2{
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 20px;
}
.right-text h4{
    font-size: 20px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
.right-text p{
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 30px;
}

.articale-btn{
    color: #fff;
    background: #2f2339;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    font-family: sans-serif;
}
/* =====================Articale section ENd=====================  */

#greating{
    background: linear-gradient(#2f2339a3,#2f2339a3),url(img/background.png);
    background-position: center;
    width: 100%;
}

.center{
    text-align: center;
    width: 600px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0 auto;
    padding: 60px 0;
}


.greating-text h2{
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    font-family: 'lato', sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;

}

.greating-text h3{
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    font-family: 'lato', sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.greating-text p{
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'lato', sans-serif;
    line-height: 1.4;
    letter-spacing: normal;
}

.touch-content{
    flex-direction: column;
}

.contact-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#contact{
    padding: 50px 0;
}

.icon-2{
    background: #f56131;
    margin-right: 20px;
    padding: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-2 i{
font-size: 30PX;
color: #fff;
}

.item{
    flex-basis: 50%;
}
.item h2{
    color: #2d2d2d;
    font-size: 28px;
    font-weight: 600;
    font-family: 'lato' sans-serif;
    margin-bottom: 20px;
}
.contact-text h4{
    color: #2d2d2d;
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 5px;
}
.contact-text p{
    font-size: 14px;
    color:#2d2d2d;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.form-box div{
    margin-bottom: 10px;
    width: 100%;
    display: inline-block;
}

.form-box div label{
    margin-right: 10px;
    font-size: 16px;
    color: #2d2d2d;
    padding-right: 40px;
}

.form-box input, 
textarea{
    
    border: 0;
    border-bottom: 2px solid #c81c1c;
    outline: none;
}

#msg-btn{
    background: #f56131;
    padding: 10px 30px;
    border: 0;
    margin-top: 30px;
}


footer{
    background: #2f2339;
    padding: 40px 0;
    text-align: center;
}

footer div p{
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    padding: 10px;
}